* {
    box-sizing: border-box;
}
body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #262424;
    margin: 0;
}

#header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 67.5rem;
    position:sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.upper-header {
    display: flex;
    font-family: 'Rubik', sans-serif;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7f8589;
    padding: 1rem;
    position: relative;
}
.toggle-menu-nav {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: 8px;
}
.toggle-menu-button {
    display: flex;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.toggle-menu-button:hover {
    color: gray;
}
.small-logo.hidden {
    display: none;
}
.center-menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.center-menu-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: #262424;
}
.user-menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.subscribe-button {
    background-color: #a83946;
    border: none;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    border-radius: 2px;
    color: white;
    padding: 8px;
    transition: background-color 0.3s;
}
.subscribe-button:hover {
    background-color: black;
    cursor: pointer;
}
.user-menu-nav a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    gap: 0.5rem;
    padding: 8px;
    color: #262424;
}
.center-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7f8589;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #5a5a5a;
    transition: height 0.3s ease, opacity 0.3s ease;
}
.center-header.hidden {
    height: 0;
    opacity: 0;
    pointer-events: none;
}
.header-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}
.header-subscription-title {
    font-size: 24px;
    margin: 0;
    color: #262424;
    font-weight: 600;
}
.header-subscription-subtitle {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    margin: 0;
}
.header-subscription-director {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    margin: 0;
}
.header-logo {
    flex-grow: 0.5;
}
.header-logo img {
    max-width: 200px;
    width: 100%;
}
.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    color: #5a5a5a;
}
.header-info-text {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}
.bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    border-bottom: 1px solid #7f8589;
    overflow-y: auto;
}
.theme-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}
.theme-nav span {
    text-transform: uppercase;
}
.themes {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    font-size: 16px;
}
.themes a {
    text-decoration: none;
    color: #5a5a5a;
    white-space: nowrap;
}
