#main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 67.5rem;
    padding: 16px 1.25rem;
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: 68px;
}
.section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #7f8589;
    border-top: 1px solid #7f8589;
    padding-bottom: 0.25rem;
}
.section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.section-header-div {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
}
.category-title {
    font-size: 20px;
    margin: auto;
    font-weight: 500;
}
.live-news {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #a83946;
    border: none;
    align-items: center;
    border-radius: 2px;
    font-size: 14px;
    padding: 8px;
    gap: 0.5rem;
}
.live-news:hover {
    background-color: black;
    cursor: pointer;
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.circle {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: white;
    animation: pulse 1.5s infinite;
}
.section-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: 1px solid #7f8589;
    padding-bottom: 1rem;
    justify-content: center;
}
.video-section .section-content {
    border-bottom: none;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.side-articles-300px {
    flex: 1 0 300px;
}
.side-articles-248px {
    flex: 1 0 248px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
time {
    font-family: 'Rubik', sans-serif;
    color: #5a5a5a;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
}
.main-article-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    flex: 1 0 40%;
}
.main-article-title {
    font-size: 2.25rem;
    margin: 0;
}
.main-article-title a {
    text-decoration: none;
    color: #262424;
}
.main-article-title.without-side-articles {
    font-size: 2.625rem;
}
.article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #5a5a5a;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.main-article-info {
    width: 60%
}
.main-article-info-row {
    width: 100%;
}
.article-writer {
    text-transform: uppercase;
    font-weight: 400;
}
.article-writer a {
    font-weight: 500;
    color: #5a5a5a;
    text-decoration: none;
}
.article-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.article-action > img {
    cursor: pointer;
}
.comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.comments a {
    display: flex;
    gap: 0.25rem;
    text-decoration: none;
    font-weight: 500;
    color: #262424;
}
.main-article-content {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.main-article.row .main-article-content {
    padding: 0;
}
.main-article-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #5a5a5a;
    width: 40%;
}
.main-article-text p {
    margin: 0;
}
.main-article-text a {
    text-decoration: none;
    color: #a83946;
    font-size: 14px;
}
.image-container {
    display: flex;
    flex-shrink: 0;
}
.other-articles {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.other-articles-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 1 0;
}
.other-articles-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
}
.other-articles-header a {
    text-decoration: none;
}
.news-info {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    height: 2rem;
    align-items: center;
}
.news-info a {
    color: #5a5a5a;
}
.other-articles-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.other-articles-title h2 {
    margin: 0;
}
.other-articles-title a {
    color: #262424;
}
.related-articles p {
    margin: 1em 0 1em 0;
}
.related-articles a {
    color: #262424;
}
.related-articles strong {
    text-transform: uppercase;
    color: #8c0404;
}
.in-edicola {
    font-family: 'Rubik', sans-serif;
    background-color: black;
    color: white;
    text-decoration: underline;
    text-decoration-color: blue;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    white-space: nowrap;
    padding: 0.25rem;
    font-size: 12px;
    width: auto;
    align-self: flex-start;
}
.in-edicola:hover {
    cursor: pointer;
}
.in-edicola:active {
    text-decoration-color: red;
}
img {
    max-width: 100%;
    height: auto;
}
.comment-icon {
    width: 18px;
    height: 15px;
}
.image-90x90 {
    width: 90px;
    height: 90px;
}
.image-75x75 {
    width: 75px;
    height: 75px;
}
.blog-header, .video-header {
    justify-content: space-between;
    border-bottom: 1px solid #7f8589;
}
.section-header-div a {
    text-decoration: none;
    color: #262424;
}
.blog-section .article-writer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
}
.blog-section .article-info {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
}
.writer-avatar {
    border-radius: 50%;
}
.writer-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.writer-name, .writer-role {
    margin: 0;
}
.writer-role {
    text-transform: none;
}
.blog-section .other-articles-title {
    margin-left: 32px;
}
.blog-section .other-articles-title h2 {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
}
.blog-section .other-articles-content {
    flex: 1 1 0;
}
.blog-button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.blog-button {
    background-color: #262424;
    padding: 12px;
    border: none;
    transition: background-color 0.3s;
    border-radius: 2px;
}
.blog-button a {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.blog-button:hover {
    cursor: pointer;
    background-color: #7f8589;
}
.other-articles.column {
    flex-direction: column;
    padding: 0;
}
.video-section .image-container {
    position: relative;
}
.video-icon {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
}
.section-header.with-img {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #7f8589;
    justify-content: space-between;
    align-items: center;
}
.spacer {
    width: 30%;
}
.section-header.with-img .image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header.with-img .image-container img {
    display: block;
}
.main-article.row .main-article-text > a {
    text-decoration: underline;
}
.digital-newspaper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
    background-color: #f0f2f5;
    border-radius: 4px;
    width: 246px;
}
.digital-newspaper time {
    color: #262424;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    text-transform: none;
}
.digital-newspaper-actions {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0 1rem;
}
.download-and-browse {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.download {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #262424;
    padding: 0.75rem;
    border-radius: 2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 0.875rem;
}
.download:hover {
    background-color: #7f8589;
}
.browse, .more-resources {
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: #262424;
    background-color: white;
    padding: 0.75rem;
    border-radius: 2px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s;
    text-align: center;
    border: 1px solid black;
    font-size: 0.875rem;
}
.browse:hover {
    background-color: #e5ebef;
}
.more-resources {
    justify-content: center;
}
.more-resources:hover {
    background-color: #e5ebef;
}
.podcast {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
}
.podcast p {
    margin: 0;
    color: #262424;
    font-family: 'Rubik', sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
}
.digital-millennium {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 246px;
    align-items: center;
}
.digital-millennium-title {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    text-align: center;
}